public enum class {{name}} {
    {{#values}}
    {{.}},
    {{/values}}
    ;

    {{#tag}}
    private val tag: Long = {{.}}
    {{/tag}}

    public override fun write(writer: IonWriter) {
        {{#tag}}
        writer.stepIn(IonType.SEXP)
        writer.writeInt(tag)
        {{/tag}}
        writer.writeSymbol(name)
        {{#tag}}
        writer.stepOut()
        {{/tag}}
    }

    public companion object {

        @JvmStatic
        public fun read(reader: IonReader): Order = try {
            {{name}}.valueOf(reader.symbolValue().text)
        } catch (ex: IllegalArgumentException) {
            // TODO error messaging
            throw ex
        }
    }
}
