public data class {{name}}(@JvmField val value: {{type}}) : {{parent}} {

    public override fun write(writer: IonWriter) {
        writer.{{write}}
    }

    public companion object {

        @JvmStatic
        public fun read(reader: IonReader): {{name}} {
            val value = reader.{{read}}
            return {{name}}(value)
        }
    }
}
