public data class {{name}}(
{{#fields}}
    @JvmField val {{name}}: {{type}},
{{/fields}}
) : {{parent}} {

    public override fun write(writer: IonWriter) {
        writer.stepIn(IonType.SEXP)
        {{#fields}}
        {{#write}}
        writer.{{write}}
        {{/write}}
        {{^write}}
        {{name}}.write(writer)
        {{/write}}
        {{/fields}}
        writer.stepOut()
    }

    public companion object {

        @JvmStatic
        public fun read(reader: IonReader): {{name}} {
            reader.stepIn()
            {{#fields}}
            assert(reader.next() == IonType.{{ion}})
            {{#read}}
            val {{name}}: {{type}} = reader.{{read}}
            {{/read}}
            {{^read}}
            val {{name}}: {{type}} = {{type}}.read(reader)
            {{/read}}
            {{/fields}}
            assert(reader.next() == null)
            reader.stepOut()
            return {{name}}({{#fields}}{{name}},{{/fields}})
        }
    }
}
