{{#parent}}
public object {{name}} : {{.}} {
{{/parent}}
{{^parent}}
public object {{name}} {
{{/parent}}

    private const val TAG: String = "{{tag}}"

    public fun write(writer: IonWriter) {
        writer.writeSymbol(TAG)
    }
}