{{#array}}{{>type_array}}{{/array}}
{{#enum}}{{>type_enum}}{{/enum}}
{{#scalar}}{{>type_scalar}}{{/scalar}}
{{#struct}}{{>type_struct}}{{/struct}}
{{#union}}{{>type_union}}{{/union}}
{{#unit}}{{>type_unit}}{{/unit}}