public data class {{name}}(
{{#fields}}
    @JvmField val {{name}}: {{type}},
{{/fields}}
) : {{parent}} {

    public override fun write(writer: IonWriter) {
        // writer.addTypeAnnotation(TAG)
        writer.stepIn(IonType.SEXP)
        {{#fields}}
        {{#write}}
        writer.{{write}}
        {{/write}}
        {{^write}}
        {{name}}.write(writer)
        {{/write}}
        {{/fields}}
        writer.stepOut()
    }

    public companion object {

        @JvmStatic
        public fun read(reader: IonReader): {{name}} {
            // val tags = reader.typeAnnotations
            reader.stepIn()
            {{#fields}}
            val {{name}}: {{type}} = reader.{{read}}
            {{/fields}}
            reader.stepOut()
            return {{name}}({{#fields}}{{name}},{{/fields}})
        }
    }
}
