assertType(IonType.SEXP)
reader.stepIn()
val tag = reader.intValue()
val variant = when (tag) {
    {{#variants}}
    {{index}} -> {{read}}()
    {{/variants}}
    else -> error("Unexpected union tag `$tag`, expected 0-{{max}}")
}
reader.stepOut()
return variant